<div  id="paslaugos" style="background-color: #ffffff; background-image: none;" data-label="Paslaugos" data-id="overlappable-4" data-export-id="overlappable-4" data-category="overlappable" class="overlappable-4 content-section content-section-spacing" data-overlap="true">
        <div  class="gridContainer">
        <div  data-type="row" class="row spaced-cols text-center">
        <div  class="col-xs-12 col-sm-4 col-padding">
        
        <a  data-cp-link="1" href="#kroviniupervezimas" target="_self"><i  class="fa icon shadow-large-black aligncenter color1 fa-truck reverse round large"> </i></a>
        <div  data-type="column" class="">
        <h5  class="">Krovinių pervežimas</h5>
        <p  class="">Skubių, smulkių, dalinių ir pilnų krovinių gabenimas Lietuvoje.</p>
        
        </div>
        </div>
        <div  class="col-xs-12 col-sm-4 col-padding">
        
        <a  data-cp-link="1" href="#keleiviuvezimas" target="_self"><i  class="fa icon shadow-large-black aligncenter color1 fa-male reverse round large"> </i></a>
        <div  data-type="column" class="">
        <h5  class="">Keleivių vežimas</h5>
        <p  class="">Vežame 8 vietų mikroautobusais pasirinktais maršrutais Lietuvoje.</p>
        
        </div>
        </div>
        <div  class="col-xs-12 col-sm-4 col-padding">
        
        <a  data-cp-link="1" href="#nuoma" target="_self"><i  class="fa icon shadow-large-black aligncenter color1 fa-road reverse round large"> </i></a>
        <div  data-type="column" class="">
        <h5  class="">Mikroautobusų nuoma</h5>
        <p  class="">Nuomojame krovininius ir keleivinius mikroautobusus su vairuotoju.</p>
        
        </div>
        </div>
        </div>
        </div>
        </div><div  id="kroviniupervezimas" style="background-color: #f5fafd;" data-label="Kroviniupervezimas" data-id="about-1" data-export-id="about-1" data-category="about" class="about-1 content-section content-section-spacing">
        <div  class="gridContainer">
        <div  class="row text-center">
        <div  class="section-title-col" data-type="column">
        <h5  class="">Extra transportas:</h5>
        <h2  class="">Jūsų kroviniai – mūsų transportas.</h2>
        <p  class="lead">Esame Kaune įsikūrusi logistikos, krovinių pervežimo ir keleivių vežimo įmonė. Šiuo metu mūsų autoparką sudaro trys Ford Transit automobiliai, galime vežti krovinius iki 2 t. Pagrindiniai maršrutai:&nbsp;Kaunas-Vilnius-Kaunas.</p>
        <p  class="">Taip pat vykstame:</p>
        <p  class="">Pirmadieniais iš UKMERGĖS, UTENOS, MOLĖTŲ, JONAVOS</p>
        <p  class="">Ketvirtadieniais iš MARIJAMPOLĖS, VILKAVIŠKIO, ŠAKIŲ, JURBARKO</p>
        <p  class="">Penktadieniais iš ALYTAUS, VARĖNOS, JIEZNO, BIRŠTONO</p>
        <p  class="lead">Klientų patogumui pristatome krovinius ir savaitgaliais ar po darbo valandų.</p>
        
        
        </div>
        <a  class="button color1" href="http://www.extratransportas.lt/kroviniu-pervezimas" target="_self" data-cp-link="1">Plačiau</a>
        </div>
        </div>
        <div  class="row">
        <div  class="bottom-xs center-xs col-xs flexbox image-group-bottom-3-img"><img  class="left-img shadow-large-black" data-size="500x300" src="http://www.extratransportas.lt/wp-content/uploads/2018/10/cropped-cropped-automotive-cars-expressway-172074.jpg" alt="" title="cropped-cropped-automotive-cars-expressway-172074.jpg"> <img  class="center-img shadow-large-black" data-size="500x300" src="http://www.extratransportas.lt/wp-content/uploads/2018/10/cropped-240_F_26039006_AwM5XObH1oNtvkHjkMYFFm2sdviwuXiu-1.jpg" alt="" title="cropped-240_F_26039006_AwM5XObH1oNtvkHjkMYFFm2sdviwuXiu-1.jpg"> <img  class="right-img shadow-large-black" data-size="500x300" src="http://www.extratransportas.lt/wp-content/uploads/2018/10/cropped-cropped-adult-automotive-blur-13861-1.jpg" alt="" title="cropped-cropped-adult-automotive-blur-13861-1.jpg"></div>
        </div>
        </div><div  id="keleiviuvezimas" style="background-color: #ffffff;" data-label="keleiviuvezimas" data-id="features-12-card-bordered" data-export-id="features-12-card-bordered" data-category="features" class="features-12-card-bordered content-section content-section-spacing ">
        <div  class="gridContainer">
        <div  class="row text-center">
        <div  class="section-title-col" data-type="column">
        <h2  class="">Planuojate išvyką?</h2>
        <p  class="lead">Vežame keleivius 8 vietų mikroautobusais pasirinktais maršrutais Lietuvoje
        (galime vežti dviem mikroautobusais grupę iki 16 žmonių).
        Galimi pastovūs grupių pavežimai, pvz. į darbą ir atgal.</p>
        
        </div>
        </div>
        <div  class="row spaced-cols" data-type="row">
        <div  class="col-sm-6">
        <div  class="card row-card bordered y-move">
        <div  class="row">
        <div  class="col-sm-fit icon-column"><i  class="fa icon color2 fa-plane large"> </i></div>
        <div  class="col-sm" data-type="column">
        <h5  class="color2">VEŽAME Į AEROUOSTUS</h5>
        <p  class="">Į Kauno oro uostą 30eur
        Į Vilniaus oro uostą 100eur
        Į Rygos oro uostą 200eur
        * kaina nurodyta 6-8 keleivių grupei</p>
        
        </div>
        </div>
        </div>
        </div>
        <div  class="col-sm-6">
        <div  class="card row-card bordered y-move">
        <div  class="row">
        <div  class="col-sm-fit icon-column"><i  class="fa icon color2 fa-shopping-basket large"> </i></div>
        <div  class="col-sm" data-type="column">
        <h5  class="color2">VEŽAME Į LENKIJĄ APSIPIRKTI</h5>
        <p  class="">Į Suvalkus ir Seinus – 15eur/žmogui
        Į Belastoką – 30eur/žmogui
        
        Į kitus miestus – kaina derinama individualiai
        Važiuojame susirinkus 6-8 žmonių grupei.</p>
        
        </div>
        </div>
        </div>
        </div>
        <div  class="col-sm-6">
        <div  class="card row-card bordered y-move">
        <div  class="row">
        <div  class="col-sm-fit icon-column"><i  class="fa icon color2 fa-group large"> </i></div>
        <div  class="col-sm" data-type="column">
        <h5  class="color2">PAVEŽAME KELEIVIŲ GRUPES</h5>
        <p  class="">Pavežame keleivių grupes iki 16 asmenų Jūsų nurodytu maršrutu.
        
        Galimi pastovūs pavežimai (pvz. į darbą ar iš darbo).</p>
        
        </div>
        </div>
        </div>
        </div>
        <div  class="col-sm-6">
        <div  class="card row-card bordered y-move">
        <div  class="row">
        <div  class="col-sm-fit icon-column"><i  class="fa icon color2 fa-car large"> </i></div>
        <div  class="col-sm" data-type="column">
        <h5  class="color2">PAVEŽAME KITAIS TIKSLAI</h5>
        <p  class="">Jei ieškote transporto pramoginei išvykai ar kitais tikslai – susisiekite su vadybininku,&nbsp;susitarsime ir pavežėsime Jus patogiu maršrutu ir reikiamu laiku.</p>
        
        </div>
        </div>
        </div>
        </div>
        <a  class="button color1" href="http://www.extratransportas.lt/keleiviu-vezimas" target="_self" data-cp-link="1">Plačiau</a>
        </div>
        
        </div>
        </div><div  id="nuoma" style="background-color: #f5fafd;" data-label="nuoma" data-id="content-2" data-export-id="content-2" data-category="content" class="content-2 content-section content-section-spacing">
        <div  class="">
        <div  class="row middle-xs">
        <div  class="col-sm-5 bg-image shadow-large-black" data-bg="image" style="background-image: url('http://www.extratransportas.lt/wp-content/uploads/2018/10/cropped-32087453_1575235985907546_3644770051237609472_n.jpg');"></div>
        <div  class="col-sm-7 full-col-left-padding full-col-right-padding">
        <div  class="row">
        <div  data-type="column" class="space-bottom-small content-title-col">
        
        <h2  class="">Mikroautobusų nuoma</h2>
        <p  class="">Nuomojame keleivinius ir krovininius mikroautobus su vairuotoju.</p>
        
        </div>
        </div>
        <div  class="row spaced-cols " data-type="row">
        <div  class="col-xs-6" data-type="column">
        <h5  class="end">Poilsinėms išvykoms</h5>
        <p  class="">Vykstama 8 vietų mikroautobusu.</p>
        
        </div>
        <div  class="col-xs-6" data-type="column">
        <h5  class="end">Daigtų pervežimui</h5>
        <p  class="">Pervežame gyventojų, biurų daigtus pagal poreikį.</p>
        
        </div>
        <div  class="col-xs-6" data-type="column">
        <h5  class="end">Keleivių pavežėjimui</h5>
        <p  class="">Galime pavežti į darbą, apsipirkti ar pagal poreikį.</p>
        
        </div>
        <div  class="col-xs-6" data-type="column">
        <h5  class="end">Vykstame pagal poreikį</h5>
        <p  class="">Galime pavežti ar gabenti krovinį Jums patogiu maršrutu.</p>
        
        </div>
        <a  class="button color1" href="#" target="_self" data-cp-link="1">Plačiau</a>
        </div>
        
        </div>
        </div>
        
        </div>
        </div><div  id="atsiliepimai" style="background-color: #f5fafd; background-image: none;" data-label="Atsiliepimai" data-id="testimonials-5" data-export-id="testimonials-5" data-category="testimonials" class="testimonials-5 content-section content-section-spacing">
        <div  class="gridContainer">
        <div  class="row">
        <div  data-type="column" class="section-title-col">
        <h2  class="">Klientų atsiliepimai</h2>
        <p  class="lead">Mūsų pastovių klientų atsiliepimai</p>
        
        </div>
        </div>
        <div  class="row spaced-cols content-center-sm" data-type="row">
        <div  class="col-sm-4">
        <div  class="card y-move bordered" data-type="column">
        
        <i  class="fa fa-quote-right icon color1 small"></i>
        <p  class="text-center">Labai malonus bendravimas ir visuomet sklandus krovinių pristatymas. Ačiū Jums!</p>
        <img  src="https://extendthemes.com/mesmerize/demos/demo-free-1/wp-content/plugins/mesmerize-companion/theme-data/mesmerize/sections/images/team-1.jpg" class="round icon">
        <h6  class="end">Sandra</h6>
        <p  class="small italic">UAB „Mex-industries“</p>
        
        </div>
        </div>
        <div  class="col-sm-4">
        <div  class="card y-move bordered" data-type="column">
        
        <i  class="fa fa-quote-right icon color1 small"></i>
        <p  class="text-center">Šaunus kolektyvas. Sklandžiai apsipirkome Lenkijoje. Tikrai daug sutaupėme.</p>
        <img  src="https://extendthemes.com/mesmerize/demos/demo-free-1/wp-content/plugins/mesmerize-companion/theme-data/mesmerize/sections/images/team-2.jpg" class="round icon">
        <h6  class="end">Tomas</h6>
        </div>
        </div>
        <div  class="col-sm-4">
        <div  class="card y-move bordered" data-type="column">
        
        <i  class="fa fa-quote-right icon color1 small"></i>
        <p  class="text-center">Visuomet galima pasikliauti, kai reikia skubiai pristatyti krovinį į Vilnių. Labai džiaugiuosi Jus atradusi.</p>
        <img  src="https://extendthemes.com/mesmerize/demos/demo-free-1/wp-content/plugins/mesmerize-companion/theme-data/mesmerize/sections/images/team-3.jpg" class="round icon">
        <h6  class="end">Viktorija</h6>
        <p  class="small italic">IĮ „MurMur“</p>
        
        </div>
        </div>
        </div>
        </div>
        </div><div  id="susisiekti" data-label="Susisiekti" data-id="contact-1" data-export-id="contact-1" data-category="contact" class="contact-1 content-section content-section-spacing white-text" data-parallax-depth="20" style="background-image: url('https://extendthemes.com/mesmerize/demos/demo-free-1/wp-content/uploads/2018/02/stephan-valentin-345970.jpg'); background-size: cover; background-position: center top;">
        <div  class="gridContainer">
        <div  class="row text-center">
        <div  class="section-title-col" data-type="column">
        <h2  class="">Susiekite su mumis</h2>
        <p  class="lead">Reikai pervežti krovinį, planuojate išvyką su draugais ar domina preliminari paslaugų kaina? Parašykite mums ir atsakysime į visus kylančius klausimus.</p>
        
        </div>
        </div>
        <div  class="row text-center">
        <div  class="col-xs-12 col-sm-8 col-sm-offset-2 contact-form-wrapper inline-info">
        <div  class="card large-padding">
        <div  class="" data-content-shortcode="mesmerize_contact_form shortcode=&quot;contact-form-7 id=&amp;amp;quot;238&amp;amp;quot; title=&amp;amp;quot;Susisiekite&amp;amp;quot;&quot;" data-editable="true">[mesmerize_contact_form shortcode="contact-form-7 id=&amp;quot;238&amp;quot; title=&amp;quot;Susisiekite&amp;quot;"]</div>
        </div>
        </div>
        </div>
        </div>
        </div>