.button-set-style {
    width: 500px;
    margin: 0 auto;
}
.button-style {
    width: 100px;
    min-width: 50px;
    margin: 2px;
}
.input-style {
    width: 316px;
    display: inline;
    margin: 2px;
}