body {
    background: #f5f5f4;
}

.flex-container {
    display: flex;
}

.flex-item {
    width: 300px;
    background: #fefefe;
    border: #cbccca 1px solid;
    border-top: #cbccca 3px solid;
    padding: 15px;
    margin: 10px;
    align-self: flex-start;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.flex-item:hover {
    border-top: #0272b4 3px solid;
    margin-top: 8px;
}

.flex-item h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    color: #0272b4;
    margin-bottom: 0;
    margin-top: 12px;
}

.flex-item .year {
    color: #cbccca;
}

.image-container {
    position: relative;
    width: 60%;
    float: left;
    margin-right: 10px;
    margin-bottom: 16px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgb(0,0,0,0.2);
}
  
.image-container:hover .overlay {
    opacity: 1;
}
  
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.quote {
    font-style: italic;
    margin-bottom: 10px;
}

.flex-item p {
    margin-top: 0;
}
.flex-item a {
    color: #b293c6;
}

.flex-item a:hover {
    text-decoration: none;
}

